.main_menu_wrapper{
    position: relative;
    float:left;
}

.main_menu_wrapper img{
    height: 45px;
    width: 45px;
    position: absolute;
    top:5px;
    left:5px;
    z-index: 5;
}

.main-menu{
    height: 600px;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: none repeat scroll 0% 0% #CCCCCC;
    overflow: hidden;
    box-shadow: 0 0 2px;
    z-index: 4;
}

.main-menu h3{
    height: 36px;
    border-bottom: 1px solid white;
    text-align: right;
    padding-right: 5px;
    color: white;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    padding-left: 55px;
}

.main-menu ul{
    padding-left: 0;
}

.main-menu ul li{
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.main-menu li,h3{
    white-space: nowrap;
}

.main-menu ul .active_green{
    background-color: #DFF0D8;
    text-align: center;
}

.main-menu ul .active_green a{
    color:#5EBD5E;
}

.main-menu ul .active_red{
    background-color: #F2DEDE;
    text-align: center;
}

.main-menu ul .active_red a{
    color:#E25550;
}

.main-menu ul .active_yellow{
    background-color: #FCF8E3;
    text-align: center;
}

.main-menu ul .active_yellow a{
    color:#FAAD41;
}

.main-menu ul li a{
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 14px;
    color: white;
}

.q_nav a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.q_nav li{
    display: inline;
}

.q_nav .red a:hover {
    color:#A40612;
}

.q_nav .yellow a:hover {
    color:#F98307;
}

.q_nav .green a:hover {
    color:#024301;
}

.q_nav .violet a:hover {
    color:#4E0A47;
}

.q_nav .blue a:hover {
    color:#391A55;
}

.jumbotron{
    height:500px;
    background-image: url("../img/jump.jpg");
    background-position: fixed;
    background-color: #cccccc;
    text-align: center;
}

.jumbotron .container {
    position: relative;
    top:10px;
}

.jumbotron h1{
    color:#fff;
    font-size:48px;
    font-weight: bold;
    font-family: 'Shift', sans-serif;
} 

.jumbotron p{
    color:#fff;
    font-size:30px;
}

.jumbotron img, p, h1{
    
}

.learn-more{
    background-color:#f7f7f7;
}

.learn-more h3{
    font-size:18px;
    font-weight:bold;
    font-family:'Shift', sans-serif;
}

.learn-more a{
   color: #00b0ff;
}

.learn-more img{
    height: 200px;
    width: 200px;
    background-color: #efefef; 
    border: 1px solid #cccccc;
    vertical-align: middle;
}

.learn-more .col-md-4{
    text-align: center;
}

.learn-more p, h3{
    text-align: left;
}

.logo{
    top: -100px;
    height: 200px;
    width: 200px;
}

.news{
    background-color: #efefef;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
}

.news .col-md-6{
    height: 300px;
    padding:0;
}

.news .row{
    padding-bottom: 4px;
    padding-top: 4px;
}

.news .container{
    margin-bottom:15px;
}

.news .border{
    border:1px solid #E0E0E0;
    padding: 2px 8px 2px 8px;
    margin:4px;
    height: 300px;
    position: relative;
}

.news img{
    height:150px;
    width: 150px;
}

.news .thumbnail{
    float:left;
    margin-right:8px;
}

.news a img{
    height: 32px;
    width: 32px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url('../img/new_link.png');
}

.news p{
    text-align: left;
}

.news .hovered{
    background-color: #D9EDF7;
    border:1px solid #00b0ff;
}