.nav a{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li{
    display: inline;
}

.jumbotron{
    height:500px;
    background-image: url("../img/jump.jpg");
    background-position: fixed;
    background-color: #cccccc;
    text-align: center;
}

.jumbotron .container {
    position: relative;
    top:10px;
}

.jumbotron h1{
    color:#fff;
    font-size:48px;
    font-weight: bold;
    font-family: 'Shift', sans-serif;
} 

.jumbotron p{
    color:#fff;
    font-size:30px;
}

.learn-more{
    background-color:#f7f7f7;
}

.learn-more h3{
    font-size:18px;
    font-weight:bold;
    font-family:'Shift', sans-serif;
}

.learn-more a{
   color: #00b0ff;
}

.learn-more img{
    height: 200px;
    width: 200px;
    background-color: #efefef; 
    border: 1px solid #cccccc;
    vertical-align: middle;
}

.learn-more .col-md-4 img{
    text-align: center;
}

.logo{
    top: -100px;
    height: 200px;
    width: 200px;
}

.news{
    background-color: #efefef;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
}

.news .col-md-6{
    height: 300px;
    padding:0;
}

.news .row{
    padding-bottom: 4px;
    padding-top: 4px;
}

.news .container{
    margin-bottom:15px;
}

.news .border{
    border:1px solid #E0E0E0;
    padding: 2px 8px 2px 8px;
    margin:4px;
    height: 300px;
    position: relative;
}

.news img{
    height:150px;
    width: 150px;
}

.news .thumbnail{
    float:left;
    margin-right:8px;
}

.news a img{
    height: 32px;
    width: 32px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url('../img/new_link.png');
}

.news p{
    text-align: left;
}

.news .hovered{
    background-color: #D9EDF7;
    border:1px solid #00b0ff;
}